extends ../layouts/common.pug

block content
    h1 User List
    .d-flex.align-items-center
        a.btn.btn-primary(href="/users/create") New user        
        form.ms-auto(action="/users/search", method='GET',class="d-flex") 
            input(type="search" name="q" placeholder="typing..." value=question,class="form-control")
            button(type="submit",class="btn btn-primary ms-2") Search
        
    table.table
        tr 
            th Name 
            th  Phone 
            th Action
        each u in users 
            tr 
                td=u.name
                td=u.phone
                td
                    a(href="/users/"+u.id) View
